<h1><%= @product.name %></h1>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back to all products', products_path %>

<h2>Reviews</h2>

<table>
  <thead>
    <tr>
      <th>Rating</th>
      <th>Content</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @product.reviews.each do |review| %>
      <tr>
        <td><%= review.rating %></td>
        <td><%= review.content %></td>
        <td><%= link_to 'Edit', edit_product_review_path(@product, review) %></td>
        <td><%= link_to 'Destroy', [@product, review], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Review', new_product_review_path(@product) %>

<h2>Tweets</h2>

<dl>
  <% @product.tweets.each do |tweet| %>
    <dt><%= tweet.user.screen_name %></dt>
    <dd><%= tweet.text %></dd>
  <% end %>
</dl>
